
.nobg{background:0 !important;}
.nobd{border:none !important;}
header{margin:auto;height:70px;padding-top:20px;}
header h1{text-align:center;line-height:70px;}
.content{overflow:hidden;width:90%;margin:auto;}
aside{float:left;border:#999 1px solid;margin-top:35px;width:11%;}
aside a{display:block;text-align:center;line-height:70px;font-size:20px;border-bottom:#999 1px solid;}
aside a:last-child{border:none;}
.atagactive{color:#f94b16 !important;}
article{overflow:hidden; width:83%;float:right;}
article .active{display:block;}
article #btn{display:block !important;float:right;width:80px;height:25px;background:#eee;border-radius:5px;cursor:pointer;border:none !important;}
table{border-collapse:collapse;margin-top:33px;display:none;}
table tr{height:45px;line-height:45px;color:#666;font-size:15px;}
table tr:first-child{height:55px;line-height:55px;color:#333;font-size:18px;}
table tr td{width:18%;text-align:center;border:#999 1px solid;vertical-align:middle;}
/*table tr td input,label{cursor:pointer;}*/
/*table tr td label{width:56px;display:block;}*/
table tr .audit{cursor:pointer;}
table tr .audit select{outline:none;border:none;padding:12px 0;font-size:15px;color:#666;text-align:center;}
table tr td:last-child{width:30%;color:#f00;}
@media screen and (max-width: 1366px){
    aside{width:8%;}
    aside a{font-size:18px;line-height:50px;}
    table tr td{width:10%;}
    table tr td:first-child{width:45px;}
}
/*.page{overflow:hidden;text-align:center;margin:auto;padding-bottom:50px;float:right;margin-top:20px;_margin-top:20px;display:block !important;}*/
/*.page li{float:left;background:#fefefe;margin-right:5px;border-radius:5px;border:#dfdfdf 1px solid;}*/
/*.page a{display:block;font-size:12px;color:#545454;line-height:25px;width:25px;}*/
/*.pageactive{background:#f4832d !important;border:#f4832d 1px solid !important;}*/
/*.pageactive a{color:#fff !important;}*/
/*.zero{width:42px !important;text-align:center;}*/
/*.gltactive{color:#d3d3d3 !important;}*/
/*.page .jump{padding-left:10px;}*/
/*.page .jump input{background:#fff;border:#c5c5c5 1px solid;width:42px;height:25px;}*/

.tcdPageCode{text-align:center;color: #545454;margin-top:40px;_margin-top:40px;margin-bottom:40px;}
.tcdPageCode a{display: inline-block;color: #545454;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #f4832d;}
.tcdPageCode span.current{display: inline-block;height: 25px;font-size:14px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #f4832d;	border: 1px solid #f4832d;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{display: inline-block;font-size:14px;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #545454;background: #fff;border: 1px solid #dfdfdf;border-radius: 4px;vertical-align: middle;}
.tcdNumber{font-size:14px;}
.start,.end,.prevPage,.nextPage{font-size:14px;}
.prevPage,.nextPage{color:#f4832d !important;}
.jumplabel{margin-left:2px;line-height:25px;}
.jumpgo{padding:0 5px !important;}
#selectcount{width:40px !important;border: 1px solid #dfdfdf;height:24px;text-align:center;margin:0 2px;outline:none;}