@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:fangzheng;
	src:url(../fonts/fangzheng.TTF)
}
html,body{
	margin:0;
	font-size:14px;
	font-family:fangzheng,'微软雅黑', Arial, Helvetica, sans-serif;
	background:#fff;
	}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,img{
	margin:0;
	padding:0;
	list-style:none;
	border:0;
	}
a:link {
 color: #353535;
 text-decoration: none
}
a:visited {
 color: #353535;
 text-decoration: none;
}
a:hover {
 color: #f00;
 text-decoration: none;
}
a:active {
 color: #f60;  
 text-decoration:none;
}
h1,h2,h3,h4,h5{
	font-size:40px;
	line-height:1;
	}
h6{
	font-size:18px;
	line-height:1;
	}
p{
	font-size:18px;
	line-height:30px;
	}



	