.margin0{margin:0 !important;}
.wpcactive{color:#ff0000 !important;}
.blankchild{display:none;height:97px;}
header{width:100%;position:fixed; top:0;left:0;background:#fff;z-index:19999;}
.headerbox{width:1200px;padding-top:15px;overflow:hidden;margin:auto;}
header .logo{float:left;}
nav{float:right;overflow:hidden;padding-top:35px;padding-right:13px;}
nav .nava{display:block;font-size:16px;color:#353535;padding:0 13px;float:left;text-align:center;padding-top:5px;}
nav .nava h5{padding-bottom:22px;font-size:16px;color:#353535;font-weight:normal;}
.blank{height:92px;}
nav .nava div{background:#fff;position:fixed; top:92px;left:50%;padding:15px 10px 10px 10px;display:none;box-shadow:2px 3px 8px #bbb;}
nav .nava #navgzh{margin-left:155px;}
nav .nava #navapp{margin-left:255px;}
nav .nava:hover #navgzh{display:block;}
nav .nava:hover #navapp{display:block;}
nav .nava h4,nav .nava input{font-size:16px;color:#545454 !important;font-weight:normal;padding-top:5px;}
/*.loadapp{position:fixed; top:243px;left:50%;margin-left:397px;}*/
/*.loadapp a{display:block;width:125px;height:25px;}*/
nav .nava input{display:block;background:none;margin:auto;outline:none;cursor:pointer;}
nav .busienter{padding-top:0;color:#fff;}
nav .busienter h5{background:#68c1f4;color:#fff;padding:4px 7px;border-radius:5px;}
.weibanner{background:#68c1f4 url("../img/wbanner_02.png") no-repeat center top;height:778px;}
.UserPlatform,.multiterminal{background:#f8f8f8;padding:90px 0;}
.multiterminal,.weicontact{text-align:center;}
.BusinessPlatform,.weicontact{padding:90px 0;}
.userbox,.BusinessPlatform,.multbox,.weicontact,.copybox{width:1200px;margin:auto;overflow:hidden;}
.userprofile{float:left;width:435px;}
.businessprofile{float:right;width:435px;}
.userprofile h3,.businessprofile h3,.multiterminal h3,.weicontact h3{font-size:55px;color:#fd6021;padding-bottom:42px;}
.userprofile p,.businessprofile p,.multiterminal p,.weicontact p{font-size:20px;color:#545454;line-height:35px;padding-bottom:18px;}
.userprofile p span,.businessprofile p span{color:#ec2a52;}
.userprofile .topbd,.businessprofile .topbd{border-top:#e8e8e8 1px solid;padding-top:18px;padding-bottom:0 !important;}
.userimg{padding-top:20px;float:right;}
.businessimg{float:left;padding-top:10px;}
.mulimg,.weicontact ul{padding-top:35px;}
.weicontact ul{overflow:hidden;padding:0 52px;}
.weicontact ul li{text-align:center;background:#f08200;padding:35px 0 50px 0;float:left;margin-right:30px;width:345px;height:240px;}
.weicontact ul li h5{font-size:20px;color:#fff;padding:28px 0 40px 0;background:url("../img/fenge_29.png") no-repeat center bottom;}
.weicontact ul li p{font-size:22px;line-height:40px;color:#fff;margin-top:40px;}
.weicontact ul li .emailone{margin-top:65px;}
.copyright{background:#3f454c;}
.copybox{padding:50px 0 35px 0;}
.copyleft{float:left;margin-right:80px;margin-left:100px;}
.copyleft h5{font-size:22px;color:#fff;padding-top:50px;font-weight:normal;}
.gongzhonghao{margin-right:35px;float:left;}
.app{margin-right:80px;float:left;}
.gongzhonghao h6,.app h6{font-size:20px;color:#fff;padding-top:10px;font-weight:normal;}
.copyright p{font-size:22px;line-height:40px;color:#fff;width:200px;float:left;margin-right:100px;}
.footer{background:#2b3035;text-align:center;}
.footer p{color:#fff;font-size:18px;padding:5px 0;}


.loginenter{float:right;line-height:70px;font-size:17px;}
.bnbody{background:#68c1f4 url("../img/bg.jpg") no-repeat center top;height:600px;}
.loginbox,.content{width:1200px;overflow:hidden;margin:auto;}
.loginbg,.registerbg{float:right;padding:40px 30px;background:#e9e8e7;margin-top:130px;margin-right:50px;}
.loginbg{display:block;}
.registerbg{margin-top:60px;display:none;}
.loginboxhead{overflow:hidden;width:257px;}
.loginlogo{width:14%;float:left;}
.loginbg h5,.registerpage{font-size:18px;padding-bottom:25px;font-weight:normal;float:left;line-height:38px;margin-left:10px;}
.registerpage{padding-bottom:15px;}
.loginblank{height:95px;}
.login input,#registerForm input{border:#c8cbd0 1px solid;width:250px;border-radius:5px;font-size:15px;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;
    display:block;margin:auto;padding:10px 0 10px 28px;outline:none;margin-bottom:20px;}
#telverify{width:277px;margin:auto;margin-bottom:20px;background:#fff;overflow:hidden;position:relative;
    border:#c8cbd0 1px solid;border-radius:5px !important;-webkit-border-radius:5px !important;-moz-border-radius:5px !important;
    -o-border-radius:5px !important;-ms-border-radius:5px !important;box-sizing:border-box;}
#telephone{background:url("../img/telephone.png") no-repeat 6px center;padding-left:26px !important;
    background-size:11%; width:50% !important;margin:0 !important;display:block;float:left;border:none !important;}
#sendVerifyCode{display:block;background:#fb3204;width:30% !important;border:#fb3204 1px solid;float:right;
    border-radius:0 5px 5px 0 !important;-webkit-border-radius:0 5px 5px 0 !important;-moz-border-radius:0 5px 5px 0 !important;
    -o-border-radius:0 5px 5px 0 !important;-ms-border-radius:0 5px 5px 0 !important;color:#fff;font-size:14px !important;
    padding:10px 0;text-align:center;}
#downtime{display:none;background:#ccc;border:#ccc 1px solid;width:30% !important;float:right;border-radius:0 5px 5px 0 !important;
    position:absolute;left:70%;top:0;text-align:center;font-size:15px;float:right;padding:11px 0;}
#memberName,#rmemberName{background:#fff url("../img/account.png") no-repeat 3px center;background-size:8%;}
#password,#rpassword{background:#fff url("../img/password.png") no-repeat 6px center;background-size:6%;}
.code{background:#fff url("../img/yangzhengma.png") no-repeat 4px center;background-size:8.5%;padding-left:28px !important;width:242px !important;}
.loginbutton,#register{width:100% !important;box-shadow:0px 1px 2px #aaa;text-align:center;
    background:#fa4a18;color:#fff;padding-left:0 !important;font-size:15px;}
.wordpage{font-size:15px;text-align:center;cursor:pointer;}
.wordpage span{color:#fa4a18;}
.logincopybox{overflow:hidden;padding:40px 0 32px 0 !important;}
.copylogin{background:#fff;}
.loginapp{margin-right:30px !important;}
.wxright{float:right;}
.logincopyleft h5,.logingzh h6,.loginapp h6,.logincopybox p{color:#353535;font-size:18px;}
.logincopyleft img,.logingzh img,.loginapp img{width:75%;}

.logincopybox p{margin-right:20px;line-height:37px;}
.dark{background:#f7f7f7;}
.busblank{background:#fff;}
.content{background:#fff;border:#dbdada 1px solid;min-height:720px;margin-top:30px;overflow:hidden;margin-bottom:30px;}
.twonav,.twonavtel{height:50px;color:#fff;line-height:50px;font-size:16px;}
.twonav{background:#ff663a url("../img/pc/business.png") no-repeat 13px center;background-size:18px;padding-left:58px;}
.twonavtel{color:#353535;border:#dbdada 1px solid;border-top:none;background:url("../img/pc/tel.png") no-repeat 13px center;
    background-size:18px;padding-left:54px;}
.twonavtel:hover{color:#ff0000;background:url("../img/pc/tel1.png") no-repeat 13px center;background-size:18px;}
.slide{float:left;min-height:820px;background:#fff;}
.slide .slideul{width:220px;position:relative;z-index:1;}
.slide .slideul li{border-bottom:#dbdada 1px solid;border-right:#dbdada 1px solid;}
.slide .slideul li a,.threeul li{display:block;height:50px;padding:15px 20px 15px 10px;color:#353535;box-sizing:border-box;-moz-box-sizing:border-box;
    -ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;padding-left:55px;border-right:none !important;}
.threeul li:last-child{border-bottom:none;}
.slide .slideul li a span{display:block;font-size:15px;line-height:23px;background:url("../img/pc/right.png") no-repeat right center;background-size:16px;}
#tgzh{background:url("../img/pc/tijiaog.png") no-repeat 13px center; }
#fread{background:url("../img/pc/m_icon4.png") no-repeat 13px center;}
#fgzh{background:url("../img/pc/m_icon4.png") no-repeat 13px center;}
#gtask{background:url("../img/pc/task.png") no-repeat 13px center;}
/*.tijiaog{background:url("../img/pc/tijiaog.png") no-repeat 13px center;background-size:18px;}*/
/*.m_icon4{background:url("../img/pc/m_icon4.png") no-repeat 13px center;background-size:18px;}*/
/*.task{background:url("../img/pc/task.png") no-repeat 13px center;background-size:18px;}*/
#tgzh,#fread,#fgzh,#gtask{background-size:18px;}

.threeul{width:220px;border:#bb0202 2px solid;background:#fff;position:absolute;left:220px;top:151px;text-align:right;display:none;}
.threeul li{color:#353535;font-size:15px;}
.threeul li:hover{color:#ff0000;}
.slideactive{border-left:#fa4a18 4px solid;border-right:#fff !important;}
.threeulactive{border-left:#fa4a18 4px solid;border-right:#fff !important;color:#ff0000 !important;}
.slideactive a span{color:#ff0000 !important;}
.slideactive li{}
.slideul #tgzh:hover a,.slideul #fread:hover a,.slideul #fgzh:hover a,.slideul #gtask:hover a{color:#ff0000;}
.slideul #tgzh:hover{background:url("../img/pc/tijiaog1.png") no-repeat 13px center;background-size:18px;}
.slideul #fread:hover,.slideul #fgzh:hover{background:url("../img/pc/m_icon5.png") no-repeat 13px center;background-size:18px;}
.slideul #gtask:hover{background:url("../img/pc/task1.png") no-repeat 13px center;background-size:18px;}
.slideul #gtask:hover .threeul{display:block;}

.middlecontent{padding:0 60px 0 70px;margin-top:50px;float:right;overflow:hidden;min-height:720px;}
.gtaskbox{border-radius:10px;-webkit-border-radius:10px;-ms-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border:#d4d4d4 1px solid;
    padding:0 12px;overflow:hidden;background:#fff;margin-bottom:8px;}
.gzhtask{float:left;padding-right:10px;}
.readtask{border-left:#cfcfcf 1px dashed;min-height:670px;float:right;padding-left:15px;}
.gzhtask h5,.readtask h5{font-size:25px;font-weight:normal;text-align:center;padding-bottom:20px;color:#333;}
.smallul{padding-right:12px;padding:10px 12px 10px 0;}
.smallibox h6,.smallibox h6,.smallibox p,.smallibox p,.tasksmalltitle p{font-size:15px;color:#666;font-weight:normal;line-height:15px;}
.smallibox{overflow:hidden;}
.smallibox h6{float:left;margin:0 !important;;}
.smallibox p{float:right;}
.readtaskul{border-right:#ededed 1px dashed;width:260px;float:left;margin:0 !important;;}
.tasksmalltitle{float:right;padding-left:12px;}
.tasksmalltitle h5{font-size:15px;color:#fa4a18;font-weight:normal;padding-top:15px;width:6em;height:20px;overflow:hidden;text-overflow:ellipsis;line-height:20px;}
.tasksmalltitle h6{font-size:25px;padding-top:25px;padding-bottom:2px;text-align:center;}
.tasksmalltitle p{text-align:center;}
iframe{padding:}
.content{background: #FFFBE6;}
.taskcontent{width:840px;}
.taskmiddle{margin:auto;overflow:hidden;min-height:720px;}


.page{overflow:hidden;text-align:center;display:block !important;width:400px;float:left;margin-top:40px;_margin-top:40px;}
.page li{float:left;background:#fefefe;margin-right:5px;border-radius:5px;border:#dfdfdf 1px solid;}
.page a{display:block;font-size:12px;color:#545454;line-height:25px;width:25px;}
.pageactive{background:#f4832d !important;border:#f4832d 1px solid !important;}
.pageactive a{color:#fff !important;}
.zero{width:42px !important;text-align:center;}
.gltactive{color:#d3d3d3 !important;}
.page .jump{padding-left:10px;}
.page .jump input{background:#fff;outline:none;border:#c5c5c5 1px solid;width:42px;height:25px;}
.eliphsis{padding:1px 5px 7px 5px;}