@charset "utf-8";
/* CSS Document */
html{}

.focuslist{margin:0 !important;}
.focuslist li img{width:50%;border:#e2e2e2 1px solid;border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;
    -ms-border-radius:50%;-webkit-border-radius:50%;}
.focuslist li{text-align:center;padding:0 !important;margin-top:20px;margin-bottom:10px;}
.focuslist li a{text-decoration:none;}
.focuslist li:nth-child(3n){border-right:none !important;}
.focuslist li h3{font-size:18px;font-weight:700 !important;margin-bottom:0;padding-top:10px;width:6em;
    overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:auto;}
.focuslist li p{font-size:13px;font-weight:normal;margin-bottom:0;width:9em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:auto;}
.focuslist li p span{font-size:12px;color:#f66866;}
.focuslist li button{height:25px !important;padding:0 15px !important;background:#39aff0 !important;
    border:#0f95e0 1px solid;}
#inviteby{background:url("../img/bgone.jpg") no-repeat left center;background-size:cover;}
.ivwrap .ivbanner{width:100%;padding-bottom:5px;}
.ivwrap .ivintroduce,.ivusage{font-size:15px;color:#333;width:90%;line-height:22px;margin:auto;text-align:center;}
.ivwrap .ivintroduce span{color:#f94b16;}
.invite{padding-top:0.5em;}
.invite img{display:block;margin:auto;width:55%;}
.invite #invitecode{background:#fffdfe;font-size:35px;color:#f94b16;border:#f94b16 1px solid;border-radius:10px;
    -moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-webkit-border-radius:10px;width:90%;
    height:100px;line-height:100px;text-align:center;margin:auto;margin-top:-8%;}
.ivusage{ padding-top:0.8em;}
.ivlogo{margin:auto;overflow:hidden;width:50%;padding-top:0.8em;}
.ivlogo img{display:block;float:left;width:48px;}
.ivlogo h5{font-size:20px;color:#f94b16;line-height:23px;float:right;font-weight:700;margin:0;padding-top:2px;}
#ivload{display:block;width:80%;text-decoration:none !important;color:#fff !important;background:#f94b16;
    border:#f94b16 1px solid;border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;-ms-border-radius:7px;
    -webkit-border-radius:7px;margin:auto;text-align:center;font-size:20px;margin-top:0.8em;padding:3px 0;
    border:none;  -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color:transparent;
    outline:none;padding:8px 0;}


#readtitle{background:#f94b16;color:#fff;height:144px;text-align:center;line-height:144px;font-size:60px;}
.readlist li{padding:3% 3.2% 3% 3.2%;overflow:hidden;border-bottom:#eee 1px solid;display:block;}
.readlist .tablebox{display:table;float:left;width:75%;}
.readlist li a{border:none;  -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color:transparent;
    outline:none;}
.readlist li img{width:17%;display:block;float:left;margin-right:3.5%}
.readcont,.readtool{float:left;padding-top:12px;display:table-cell;vertical-align: middle;}
.readtool{float:right;}
.readcont h3{font-size:45px;margin-bottom:25px;line-height:1;width:8em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:normal;color:#353535;}
.readcont p{font-size:28px;color:#959595;line-height:1.1;width:14em;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.readtool p{font-size:27px;color:#bdbdbd;overflow:hidden;line-height:1.1;}
.readtool .thistime,.readtool .clickcount{text-align:right;}
.readtool .thistime{margin-bottom:42px;}
.readtool .clickcount span{color:#f94b16;width:2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

@media screen and (max-width:730px){
    #readtitle{height:98px;line-height:98px;font-size:40px;}
    .readcont h3{font-size:30px;margin-bottom:20px;line-height:1.2;}
    .readcont,.readtool{padding-top:8px;}
    .readcont p{font-size:25px;width:14em;}
    .readtool p{font-size:22px;}
    .readtool .thistime{margin-bottom:35px;}
}
@media screen and (min-width:450px) and (max-width:640px){
    #readtitle{height:80px;line-height:80px;font-size:35px;}
    .readcont h3{font-size:1.7em;margin-bottom:15px;line-height:1.2;width:7em;}
    .readcont,.readtool{padding-top:10px;}
    .readcont p{font-size:1.3em;width:12em;}
    .readtool p{font-size:1.3em;}
    .readtool .thistime{margin-bottom:25px;}
}

@media screen and (max-width:450px){
    .focuslist li h3{font-size:18px;width:5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
    .focuslist li p{font-size:12px;width:9em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
    .focuslist li p span{font-size:10px;}
    .ivwrap{padding-bottom:2em;}
    .invite{padding-top:0.2em;}
    .ivwrap .ivtitle{width:60%;}
    .ivwrap .ivintroduce,.ivusage{font-size:12px;}
    .ivlogo h5{font-size:17px;}
    .invite #invitecode{height:80px;line-height:80px;}

    #readtitle{height:68px;line-height:68px;font-size:30px;}
    .readcont h3{font-size:1em;margin-bottom:5px;line-height:1.2;width:5em;}
    .readcont,.readtool{padding-top:3px;}
    .readcont p{font-size:0.9em;width:12em;}
    .readtool p{font-size:0.8em;}
    .readtool .thistime{margin-bottom:10px;}
}
/*.showone{width:95%;background:#2CEF78;height:100%;position:fixed;left:5%;top:0;display:none;z-index:1;}*/
/*.hideone{width:5%;height:50px;background:#fa4a18;text-align: center;line-height:50px;position:fixed;top:40%;z-index:2;display:none;color:#fff;}*/

