.nobg{background:0 !important;}
.nobd{border:none !important;}
/*登录页面*/
.bnbody{background:#68c1f4;width:100%;margin:auto;}
.loginbg{background:#e9e8e7;display:block;margin:auto;padding:0;padding:2rem 0;}
.loginboxhead{overflow:hidden;margin:auto;width:80%;padding-bottom:3rem;}
.loginlogo{padding:0 !important;}
.loginbg h5{font-size:2.8rem;font-weight:normal;text-align:right;padding:0 !important;line-height:2;}
@media screen and (max-width: 1650px){
    .loginbg h5{font-size:2.5rem;line-height:2;}
}
@media screen and (max-width: 1470px){
    .loginbg h5{font-size:2rem;line-height:2;}
}

@media screen and (max-width: 450px){
    .loginbg h5{font-size:1.8rem;line-height:2;}
    .loginlogo{padding-left:10px;padding-right:10px;}
}
@media screen and (max-width: 360px){
    .loginbg h5{font-size:1.5rem;line-height:2;}
    .loginboxhead{padding-bottom:2rem;}
    .loginlogo{padding-left:7px;padding-right:7px;}

}
.login input{border:#c8cbd0 1px solid;width:80%;border-radius:5px;font-size:1.5rem;
    -webkit-border-radius:0.5rem;-moz-border-radius:0.5rem;-o-border-radius:0.5rem;-ms-border-radius:0.5rem;
    display:block;margin:auto;padding:1rem 0 1rem 2.8rem;outline:none;margin-bottom:2rem;}
.loginbutton{width:80% !important;box-shadow:0px 1px 2px #aaa;text-align:center;cursor:pointer;
    background:#fa4a18;color:#fff;padding-left:0 !important;font-size:1.5rem;}
#memberName{background:#fff url("../img/account.png") no-repeat 0.3rem center;background-size:7.5%;}
#password{background:#fff url("../img/password.png") no-repeat 0.6rem center;background-size:5.5%;}



header{margin:auto;height:10rem;background:#FFFBE6;margin-bottom:3em;}
header h1{text-align:center;line-height:10rem;}
.content{overflow:hidden;width:95%;margin:auto;}
.paddingbox{padding-left:7rem;}

aside{float:left;margin-top:4.8rem;padding:0 !important;border:#999 1px solid;}
aside a{display:block;text-align:center;line-height:3;font-size:2rem;border-bottom:#999 1px solid;}
.atagactive{color:#f94b16 !important;background:#f8efc0;}
article{overflow:hidden;float:right !important;padding:0 !important;}
article .commandlist{height:3rem;line-height:2.5;text-align:center;font-size:1.5rem;margin-bottom:1.8rem}
article .commandlist li{float:left;width:8em;background:#eee;margin-right:1rem;border-radius:0.5rem;cursor:pointer;border:none !important;}
@media screen and (max-width: 1050px){
    .paddingbox{padding-left:3rem;}
}
#btn{float:right;margin:0;}
.commandlist li label{margin:0;font-weight:normal;}
.listcontent{overflow:hidden;margin-top:1rem;border:#999 1px solid;}
.listcontent .list{height:4.5rem;line-height:4.5rem;color:#666;font-size:1.5rem;overflow:hidden;border-top:#999 1px solid;}
.listcontent .list label{font-weight:normal;}
.radiocleck{cursor:pointer;margin-left:10% !important;}
#total{height:5.5rem;line-height:5.5rem;color:#333;font-size:1.7rem;background:#f8efc0;font-weight:normal;overflow:hidden;}
.listcontent .list div,#total div{float:left;text-align:center;border-right:#999 1px solid;padding:0 !important;}
.listcontent .list div{height:4.5rem;}
.listcontent .list div label,#total div label{cursor:pointer;padding:0 !important;margin:0 !important;font-weight:normal;}
.audit{border-left:#999 1px solid;}
.listcontent .list .audit select{outline:none !important;border:none !important;padding:1.2rem;font-size:1.5rem;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;
    color:#666;text-align:center;cursor:pointer;}
.audit select option{text-align:center;}

/*页码css*/
.tcdPageCode{text-align:center;color: #545454;margin-top:40px;_margin-top:40px;margin-bottom:40px;}
.tcdPageCode a{display: inline-block;color: #545454;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #f4832d;}
.tcdPageCode span.current{display: inline-block;height: 25px;font-size:14px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #f4832d;	border: 1px solid #f4832d;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{display: inline-block;font-size:14px;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #545454;background: #fff;border: 1px solid #dfdfdf;border-radius: 4px;vertical-align: middle;}
.tcdNumber{font-size:14px;}
.start,.end,.prevPage,.nextPage,.jumplabel{font-size:14px;font-weight:normal;}
.prevPage,.nextPage{color:#f4832d !important;}
.jumplabel{margin-left:2px;line-height:25px;}
.jumpgo{padding:0 5px !important;}
#selectcount{width:40px !important;border: 1px solid #dfdfdf;height:24px;text-align:center;margin:0 2px;outline:none;}