<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weitaomi.application.model.mapper.AccountAdsMapper" >
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.AccountAds" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    <result column="articleUrl" property="articleUrl" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <select id="getLatestAccountAdsId" resultType="java.lang.Integer">
    select ad.id from wtm_accounts_ads ad ORDER BY ad.createTime DESC LIMIT 1
  </select>
</mapper>