<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitaomi.application.model.mapper.MemberScoreMapper">
    <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.MemberScore">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="memberId" jdbcType="BIGINT" property="memberId"/>
        <result column="memberScore" jdbcType="DECIMAL" property="memberScore"/>
        <result column="inValidScore" jdbcType="DECIMAL" property="inValidScore"/>
        <result column="avaliableScore" jdbcType="DECIMAL" property="avaliableScore"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
    </resultMap>
    <resultMap id="MemberScoreFlowMap" type="com.weitaomi.application.model.dto.MemberScoreFlowDto">
        <result column="typeName" jdbcType="VARCHAR" property="typeName"/>
        <result column="typeDesc" jdbcType="VARCHAR" property="typeDesc"/>
        <result column="flowCount" jdbcType="BIGINT" property="flowCount"/>
        <result column="flowTime" jdbcType="BIGINT" property="flowTime"/>
        <result column="typeId" jdbcType="BIGINT" property="typeId"/>
        <result column="isFinished" jdbcType="INTEGER" property="isFinished"/>
    </resultMap>
    <resultMap id="MyResultMap" type="com.weitaomi.application.model.dto.MyWalletDto">
        <result column="avaliableBalance" property="avaliableBalance" jdbcType="BIGINT"/>
        <collection property="memberScoreFlowDtoList" ofType="list" resultMap="MemberScoreFlowMap"/>
    </resultMap>
    <update id="updateOneAvaliableMemberScore">
        update wtm_member_score score set score.avaliableScore = score.memberScore +
                    (select CASE m.totalScore is NULL WHEN TRUE THEN 0 ELSE m.totalScore END AS totalScore from (
                    select SUM(f.flowScore) totalScore from wtm_member_score s LEFT JOIN
                    wtm_member_score_flow f ON f.memberScoreId=s.id
                    WHERE s.memberId=#{memberId} AND f.createTime &lt; unix_timestamp(now()) AND f.createTime > #{time} AND f.typeId=7 AND f.flowScore &lt; 0) m
                    ) WHERE score.memberId=#{memberId}

    </update>
    <select id="getMemberScoreByMemberId" resultMap="BaseResultMap">
    select * from wtm_member_score s WHERE s.memberId=#{memberId};
  </select>
    <sql id="flowScoreList">
    flowType.typeName typeName,flowType.typeDesc typeDesc,flow.flowScore flowCount,flow.createTime flowTime,flow.isFinished isFinished,flow.typeId typeId
  </sql>
    <select id="getMyWalletDtoByMemberId" resultMap="MemberScoreFlowMap">
        select
        <include refid="flowScoreList"/>
        from
        wtm_member_score score LEFT JOIN wtm_member_score_flow flow ON score.id=flow.memberScoreId
        LEFT JOIN wtm_member_score_flow_type flowType ON flowType.id = flow.typeId
        WHERE flow.typeId IN (1,2) AND score.memberId=#{memberId} order by flow.createTime Desc
    </select>
    <select id="getAvaliableMemberScore" resultType="java.lang.Integer">
        update wtm_member_score score
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="score.avaliableScore =case" suffix="end,">
                <foreach collection="memberIdList" item="i" index="index">
                    when score.memberId=#{i} then score.memberScore +
                    (select CASE m.totalScore is NULL WHEN TRUE THEN 0 ELSE m.totalScore END AS totalScore from (
                        select SUM(f.flowScore) totalScore from wtm_member_score s LEFT JOIN
                        wtm_member_score_flow f ON f.memberScoreId=s.id
                        WHERE s.memberId=#{i} AND f.createTime &lt; unix_timestamp(now()) AND f.createTime > #{time} AND f.typeId=7 AND f.flowScore &lt; 0) m
                    )
                </foreach>
            </trim>
        </trim>
    </select>
    <select id="getAvaliableScoreAndWxInfo" resultType="java.util.Map">
        select s.avaliableScore,l.nickname from wtm_member_score s LEFT JOIN wtm_third_login l ON s.memberId=l.memberId WHERE s.memberId=#{memberId} AND l.sourceType=1;
    </select>
</mapper>