<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weitaomi.application.model.mapper.MemberTaskHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.MemberTaskHistory" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memberId" property="memberId" jdbcType="BIGINT"/>
    <result column="taskId" property="taskId" jdbcType="BIGINT"/>
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="taskName" property="taskName" jdbcType="VARCHAR" />
    <result column="taskDesc" property="taskDesc" jdbcType="VARCHAR" />
    <result column="isFinished" property="isFinished" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <select id="getMemberTaskHistoryList" resultType="com.weitaomi.application.model.dto.MemberTaskHistoryDto">
    select h.id taskHistoryId,h.taskName typeName,h.taskDesc typeDesc,h.createTime createTime, 1 AS taskType  from wtm_member_task_history h
          WHERE h.memberId=#{memberId} AND h.isFinished=#{type} ORDER BY h.createTime DESC
  </select>
</mapper>