<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitaomi.application.model.mapper.OfficalAccountMapper">
    <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.OfficialAccount">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="memberId" jdbcType="BIGINT" property="memberId"/>
        <result column="sellerTypeId" jdbcType="INTEGER" property="sellerTypeId"/>
        <result column="isOpen" jdbcType="INTEGER" property="isOpen"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="level2" jdbcType="INTEGER" property="level2"/>
        <result column="openId" jdbcType="VARCHAR" property="openId"/>
        <result column="originId" jdbcType="VARCHAR" property="originId"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="qrcodeUrl" jdbcType="VARCHAR" property="qrcodeUrl"/>
        <result column="expire_in" jdbcType="VARCHAR" property="expire_in"/>
        <result column="expire_in" jdbcType="BIGINT" property="expire_in"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="tokenUpdate" jdbcType="VARCHAR" property="tokenUpdate"/>
        <result column="accessToken" jdbcType="VARCHAR" property="accessToken"/>
        <result column="authorizationInfo" jdbcType="VARCHAR" property="authorizationInfo"/>
        <result column="accountNumber" jdbcType="INTEGER" property="accountNumber"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="addUrl" jdbcType="VARCHAR" property="addUrl"/>
        <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
    </resultMap>
    <delete id="deleteUnAuthAccount">
        DELETE FROM wtm_official_accounts where id =#{officialAccountId}
    </delete>
    <select id="getAccountsByMemberId"
            resultType="com.weitaomi.application.model.dto.OfficialAccountsDto">
    select fa.id,fa.userName ofiicialAccountName,score.avaliableScore memberScore,t.singleScore from wtm_official_accounts fa LEFT JOIN wtm_member_score score ON score.memberId=fa.memberId
     LEFT JOIN wtm_seller_type t ON t.id=fa.sellerTypeId
        WHERE fa.memberId=#{memberId} AND fa.isOpen=1
        <if test="flag==0">
            and fa.level2>=0
        </if>
  </select>
    <select id="getOfficalAccountByoriginId" resultType="com.weitaomi.application.model.bean.OfficialAccount">
    select * from wtm_official_accounts a WHERE a.originId=#{originId}
  </select>
<select id="getOfficialAccountMsg" resultType="com.weitaomi.application.model.dto.OfficialAccountMsg">
      SELECT
      a.appId         appId,
      a.originId      originId,
      a.userName      username,
      a.addUrl        addUrl,
      a.imageUrl      imageUrl,
      a.accountNumber followNumber,
      pool.finishScore  rewardCount
    FROM wtm_official_accounts a LEFT JOIN wtm_official_accounts_level l ON a.level = l.id LEFT JOIN wtm_task_pool pool
    ON pool.officialAccountsId=a.id
    WHERE pool.id>0 AND pool.taskType=0 AND pool.isPublishNow=1 AND  pool.totalScore>0 AND pool.totalScore>=pool.singleScore AND a.id NOT IN (
      SELECT account.id
      FROM wtm_official_accounts account LEFT JOIN wtm_office_member member ON member.officeAccountId = account.id
      WHERE member.id > 0 AND member.memberId = #{memberId}
    ) AND a.id NOT IN (
        select u.officeAccountId from wtm_office_user u where u.unionId=#{unionId}
    )
    <if test="sex!=null">
        AND pool.sex IN (#{sex},0)
    </if>
    <if test="provinceCode!=null">
        AND pool.provinceCode IN(#{provinceCode},'')
    </if>
    <if test="provinceCode!=null">
        AND pool.cityCode IN (#{cityCode},'')
    </if>
    ORDER BY a.createTime DESC
    LIMIT 7
</select>


<select id="getOfficialAccountWithScoreById"
    resultType="com.weitaomi.application.model.dto.OfficialAccountWithScore">
 select account.memberId,account.id,account.userName from wtm_official_accounts account
  WHERE account.originId=#{originId} limit 1;
</select>
<select id="getOfficialAccountList" resultType="com.weitaomi.application.model.bean.OfficialAccount">
    select * from wtm_official_accounts a WHERE a.memberId=#{memberId}
</select>
    <select id="getOriginIdByAppId" resultType="java.lang.String">
        select a.originId from wtm_official_accounts a WHERE a.appId=#{appId}
    </select>
    <select id="getOfficalAccountByAppId" resultType="com.weitaomi.application.model.bean.OfficialAccount">
        select * from wtm_official_accounts a WHERE a.appId=#{appid}
    </select>
    <select id="getAccountsIdByAppid" resultType="java.lang.Long">
        select id from wtm_official_accounts a WHERE a.appId=#{appid}
    </select>
</mapper>