<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weitaomi.application.model.mapper.OfficeMemberMapper" >
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.OfficeMember" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="officeAccountId" property="officeAccountId" jdbcType="BIGINT" />
    <result column="memberId" property="memberId" jdbcType="BIGINT" />
    <result column="taskPoolId" property="taskPoolId" jdbcType="BIGINT" />
    <result column="isAccessNow" property="isAccessNow" jdbcType="INTEGER" />
    <result column="isScoreAccess" property="isScoreAccess" jdbcType="INTEGER" />
    <result column="addRewarScore" property="addRewarScore" jdbcType="DECIMAL" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="finishedTime" property="finishedTime" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <insert id="batchAddOfficeMember">
    INSERT INTO wtm_office_member  (memberId,officeAccountId,isAccessNow,taskPoolId,createTime) VALUES
    <foreach collection="memberList" index="flag" item="item" separator=",">
      (#{item.memberId},#{item.officeAccountId},#{item.isAccessNow},#{item.taskPoolId},#{dateTime})
    </foreach>
  </insert>
  <update id="updateOfficialMemberList">
    update wtm_office_member  set isAccessNow  = 1 where isAccessNow=0 AND memberId=#{memberId} AND unix_timestamp(now())-createTime &lt; 60*60;
  </update>
  <delete id="deleteOverTimeUnfollowedAccounts">
    DELETE FROM wtm_office_member WHERE isAccessNow=0 AND finishedTime is NULL AND unix_timestamp(now())-createTime>#{time}
  </delete>
  <delete id="deleteFollowAccountsMember">
    DELETE FROM wtm_office_member WHERE id=#{id}
  </delete>
  <select id="getOfficeMember" resultType="com.weitaomi.application.model.bean.OfficeMember">
    select * from wtm_office_member m  WHERE m.memberId=#{memberId} AND m.officeAccountId=#{officialAccountId}
  </select>
  <select id="getOfficeMemberList" resultType="com.weitaomi.application.model.bean.OfficeMember">
    select * from wtm_office_member m WHERE m.memberId=#{memberId} AND m.isAccessNow=0
  </select>
  <select id="getOfficeMemberByOpenId" resultType="com.weitaomi.application.model.bean.OfficeMember">
    select * from wtm_office_member member  WHERE member.openId=#{openid}
  </select>
  <select id="getOfficialAccountNameList" resultType="com.weitaomi.application.model.dto.MemberAccountLabel">
    select a.userName accountName,login.nickname nickName,member.sex,a.originId,a.imageUrl from wtm_office_member m
    LEFT JOIN wtm_official_accounts a ON a.id=m.officeAccountId LEFT JOIN wtm_member member ON member.id=m.memberId
    LEFT JOIN wtm_third_login login ON member.id=login.memberId
     WHERE m.memberId=#{memberId} AND m.isAccessNow=0 AND login.sourceType=#{sourceType} limit 7;
  </select>
</mapper>