<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitaomi.application.model.mapper.OfficalAccountMapper">
    <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.OfficalAccount">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="memberId" jdbcType="BIGINT" property="memberId"/>
        <result column="sellerTypeId" jdbcType="INTEGER" property="sellerTypeId"/>
        <result column="isOpen" jdbcType="INTEGER" property="isOpen"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="openId" jdbcType="VARCHAR" property="openId"/>
        <result column="originId" jdbcType="VARCHAR" property="originId"/>
        <result column="appId" jdbcType="VARCHAR" property="appId"/>
        <result column="appSecret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="accessToken" jdbcType="VARCHAR" property="accessToken"/>
        <result column="tokenUpdateTime" jdbcType="BIGINT" property="tokenUpdateTime"/>
        <result column="accountNumber" jdbcType="INTEGER" property="accountNumber"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="addUrl" jdbcType="VARCHAR" property="addUrl"/>
        <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
    </resultMap>
    <select id="getAccountsByMemberId"
            resultType="com.weitaomi.application.model.dto.UnFollowOfficicalAccountDto">
    select fa.originId originId,fa.imageUrl imageUrl,fa.addUrl addUrl,fa.userName ofiicialAccountName from wtm_official_accounts fa WHERE fa.id NOT IN (
      select m.officeAccountId from wtm_office_member m WHERE m.memberId=#{memberId}
    )
  </select>
    <select id="getOfficalAccountByoriginId" resultType="com.weitaomi.application.model.bean.OfficalAccount">
    select * from wtm_official_accounts a WHERE a.originId=#{originId}
  </select>
<select id="getOfficialAccountMsg" resultType="com.weitaomi.application.model.dto.OfficialAccountMsg">
       SELECT
      a.appId         appId,
      a.originId      originId,
      a.userName      username,
      a.addUrl        addUrl,
      a.accountNumber followNumber,
      l.followReward  rewardCount
    FROM wtm_official_accounts a LEFT JOIN wtm_official_accounts_level l ON a.level = l.id
    WHERE a.id NOT IN (
      SELECT account.id
      FROM wtm_official_accounts account LEFT JOIN wtm_office_member member ON member.officeAccountId = account.id
      WHERE member.id > 0 AND member.memberId = #{memberId}
    )
    ORDER BY a.createTime DESC
    LIMIT 9
</select>
</mapper>