<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weitaomi.application.model.mapper.PaymentHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.PaymentHistory" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="payCode" property="payCode" jdbcType="VARCHAR" />
    <result column="memberId" property="memberId" jdbcType="BIGINT" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="batchPayNo" property="batchPayNo" jdbcType="VARCHAR" />
    <result column="isPaySuccess" property="isPaySuccess" jdbcType="INTEGER" />
    <result column="payType" property="payType" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <insert id="batchInsertPayHistory">
    insert into wtm_payment_history (payCode, memberId, platform, params, isPaySuccess, serialNumber, createTime) values
    <foreach collection="paymentHistoryList" index="index" item="item" separator=",">
      (#{item.payCode},#{item.memberId},#{item.platform},#{item.params},#{item.batchPayNo},#{item.isPaySuccess},#{item.payType},#{item.createTime})
    </foreach>
  </insert>
  <update id="batchUpdatePayHistory">
    update wtm_payment_history set createTime=#{createTime},isPaySuccess=1  where batchNo=#{batchNo}
  </update>
  <update id="batchUpdatePayHistoryByTradeNo">
    update wtm_payment_history set createTime=#{createTime},isPaySuccess=1  where 1=1
    <if test="batchNo!=null">
      AND payCode IN
      <foreach collection="batchNo" item="item" index="index" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
  </update>
  <select id="getMaxPayCode" resultType="java.lang.String">
    select max(payCode) from wtm_payment_history;
  </select>
  <select id="getPaymentHistory" resultMap="BaseResultMap">
    select * from wtm_payment_history h WHERE h.payCode=#{payCode};
  </select>
</mapper>