<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weitaomi.application.model.mapper.TaskPoolMapper" >
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.TaskPool" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memberId" property="memberId" jdbcType="BIGINT" />
    <result column="taskType" property="taskType" jdbcType="INTEGER" />
    <result column="totalScore" property="totalScore" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="singleScore" property="singleScore" jdbcType="INTEGER" />
    <result column="isPublishNow" property="isPublishNow" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="isAutoPublishToOthers" property="isAutoPublishToOthers" jdbcType="INTEGER" />
    <result column="provinceCode" property="provinceCode" jdbcType="VARCHAR" />
    <result column="cityCode" property="cityCode" jdbcType="VARCHAR" />
    <result column="officialAccountsId" property="officialAccountsId" jdbcType="BIGINT" />
    <result column="articleId" property="articleId" jdbcType="BIGINT" />
    <result column="needNumber" property="needNumber" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <update id="updateTaskPoolWithScore">
    update wtm_task_pool pool set pool.totalScore =pool.totalScore-#{score}  where pool.id=#{taskId}
  </update>
  <select id="getTaskPoolByOfficialId" resultType="com.weitaomi.application.model.bean.TaskPool">
    select * from wtm_task_pool pool WHERE pool.officialAccountsId=#{officialAccountId}
  </select>
  <select id="getTaskPoolArticleDto" resultType="com.weitaomi.application.model.dto.TaskPoolDto">
    select
      p.id taskId,p.taskType,p.totalScore,p.singleScore,p.isPublishNow,a.title articleTitle,p.createTime,p.needNumber
    from wtm_task_pool p LEFT JOIN wtm_article a ON a.id=p.articleId LEFT JOIN wtm_official_accounts account ON account.id=a.officialAccountId
    WHERE account.id>0 AND p.id>0 AND a.id>0 AND account.id=#{officialAccount} AND p.taskType=1
  </select>
  <select id="getTaskPoolAccountDto" resultType="com.weitaomi.application.model.dto.TaskPoolDto">
    select
      p.id taskId,p.taskType,p.totalScore,p.singleScore,p.isPublishNow,p.createTime,p.needNumber
    from wtm_task_pool p WHERE p.officialAccountsId=#{officialAccount}
  </select>
</mapper>