<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitaomi.application.model.mapper.ThirdLoginMapper">
  <resultMap id="BaseResultMap" type="com.weitaomi.application.model.bean.ThirdLogin">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="unionId" jdbcType="VARCHAR" property="unionId" />
    <result column="memberId" jdbcType="BIGINT" property="memberId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <select id="getThirdLoginInfo" resultType="com.weitaomi.application.model.bean.ThirdLogin">
    select * from wtm_third_login login WHERE login.openId=#{openId};
  </select>
</mapper>