<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/mvc
	  http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--<mvc:annotation-driven />-->
    <!--<context:property-placeholder location="classpath:server.properties" />-->
    <!--&lt;!&ndash; 定义监听接口 &ndash;&gt;-->
    <!--<bean id="addOfficialAccountListener" class="com.weitaomi.systemconfig.listener.AddOfficialAccountListener"/>-->
    <!--<bean id="messageConverter" class="com.weitaomi.systemconfig.listener.Gson2JsonMessageConverter"/>-->
    <!--<rabbit:connection-factory id="connectionFactory" host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}" password="${rabbit.password}" />-->
    <!--<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="add_topic_exchage" message-converter="messageConverter"/>-->
    <!--<rabbit:admin connection-factory="connectionFactory" auto-startup="true"/>-->
    <!--<rabbit:queue name="addOfficialAccountQueue" durable="true" auto-delete="false" exclusive="false" />-->
    <!--<rabbit:topic-exchange name="add_official_account_queue">-->
        <!--<rabbit:bindings>-->
            <!--<rabbit:binding pattern="addOfficialAccount.#" queue="addOfficialAccountQueue" />-->
        <!--</rabbit:bindings>-->
    <!--</rabbit:topic-exchange>-->
    <!--<rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual" concurrency="10">-->
        <!--<rabbit:listener ref="addOfficialAccountListener" queues="addOfficialAccountQueue"/>-->
    <!--</rabbit:listener-container>-->
</beans>